@import url(https://fonts.googleapis.com/css?family=Varela+Round);

:root {
	--pri: #3284ff;
}

* {
	color: #666;
}

.icon-name {
	box-sizing: border-box;
	font-size: 30px;
	position: relative;
	top: 3px;
	/*color: #666;*/
}

#main-nav {
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	font-family: 'Varela Round';
	position: fixed;
	top: -4px;
	width: 100%;
	background-color: white;
	z-index: 10;
}

#links {
	justify-content: flex-end;
}

/*.screen-size-indicator {
	font-size: 10px;
	height: 30px;
	padding: 15px 80px;
}*/

.nav-link {
	border: 1px solid white;
	border-radius: 4px;
	transition-duration: 180ms;
}

.nav-link:hover {
	border: 1px solid #AAA;
}

body {
	padding-top: 80px;
}

.resume {
	margin-top: 80px;
	border: 1px solid white;
	border-radius: 10px;
}

footer {
	margin-top: 100px;
	background-color: #CCC;
	min-height: 70px;
	padding-top: 25px;
	border-top: 3px solid var(--pri);
	padding-bottom: 25px;
	width: 100%;
	color: #444;
}

footer * {
	display: inline;
}

.footer-text {
	margin-top: 12px;
}