@import url(https://fonts.googleapis.com/css?family=Varela+Round);

:root {
	scroll-behavior: smooth;
	box-sizing: border-box;
	--pri: #3475d6;
}

* {
	color: #353535;
}

.info-message {
	z-index: 11;
	width: 20%;
	margin-left: 40%;
	text-align: center;
	border-radius: 5px;
	border-top-left-radius: 0px;
	border-top-right-radius: 0px;
}

.icon-name {
	box-sizing: border-box;
	font-size: 30px;
	position: relative;
	top: 3px;
	/*color: #666;*/
}

#main-nav {
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	font-family: 'Varela Round';
	position: fixed;
	top: -4px;
	width: 100%;
	background-color: white;
	z-index: 10;
}

#links {
	justify-content: flex-end;
}

/*.screen-size-indicator {
	font-size: 10px;
	height: 30px;
	padding: 15px 80px;
}*/

.nav-link {
	border: 1px solid white;
	border-radius: 4px;
	transition-duration: 180ms;
}

.nav-link:hover {
	border: 1px solid #AAA;
}

.intro {
	margin: 180px auto;
	margin-bottom: 55px;
	width: 80%;
}

.intro-img {
	width: 90%;
	max-width: 420px;
	min-width: 350px;
	padding-top: 10px;
	border-bottom: 1px solid #888;
	border-top: 1px solid #888;
	border-radius: 2px;
	margin-left: 10%;
}

.intro-text {
	margin: 30px auto;
	display: block;
	width: 100%;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	border-radius: 2px;
	min-width: 300px;
	max-width: 700px;
}

.center-name {
	font-size: 60px;
	border-bottom: 1px solid #AAA;
	max-width: 80%;
	margin: 9px auto;
	color: var(--pri);
}

.intro-subtext {
	margin: 20px auto;
	width: 80%;
	font-size: 24px;
}

.contact-button {
	font-size: 21.5px;
	width: 155px;
	margin-top: 20px;
	margin-right: 10px;
}

.see-resume {
	margin-top: 19px;
	margin-left: 5px;
	font-size: 20.5px;
	color: var(--pri);
	border: 1px solid white;
}

.see-resume:hover {
	color: var(--pri);
	border: 1px solid #888;
	border-radius: 2px;
}

.indicator {
	width: 100%;
	font-size: 18px;
	margin-bottom: 0px;
	height: 150px;
	color: #667;
}

.indicator-content {
	position: relative;
	top: 40px;
}

.indicator img {
	margin-top: 0px;
	width: 50px;
}

.info-scrolldown .row {
	min-height: 400px;
	margin: 220px 0px;
	margin-top: 80px;
	width: 100%;
}

.scrolldown-content {
	height: 100%;
	padding: 0 5%;
	padding-top: 12%;
	font-size: 22.5px;
	width: 75%;
}

.scrolldown-content h2 {
	font-size: 1.7em;
	margin-left: 10px;
	color: var(--pri);
	margin-bottom: 29px;
	margin-top: -20px;
}

.scrolldown-content a {
	font-size: 0.9em;
	margin-top: 13px;
	margin-left: 15px;
}

.scrolldown-img {
	width: 700px;
}

.code-editor-img {
	width: 600px;
	border: 1px solid gray;
	border-radius: 3px;
	margin-left: 130px;
}

.recent-projects {
	height: 300px;
	width: 70%;
	margin-left: 15%;
	margin-top: 200px;
}

.recent-projects h1 {
	margin-top: 30px;
	font-size: 2.5rem;
	color: var(--pri);
	margin-bottom: 15px;
}

.recent-projects p {
	font-size: 23px;
}

.gradient {
	background: linear-gradient(0deg, rgba(246,246,246,1) 0%, rgba(255,255,255,1) 90%);
	height: 130px;
}

.card-section {
	margin-top: 0px;
	padding-top: 60px;
	background-color: #F6F6F6;
	padding-bottom: 130px;
	width: 100vw;
	max-width: 100%;
}

.card-section-title {
	margin-bottom: 80px;
	border-bottom: 2px solid black;
	width: 30%;
	padding-bottom: 8px;
	margin-left: 35%;
	color: var(--pri);
}

.card-section .row {
	padding-bottom: 40px;
	max-width: 100%;
}

.card {
	background-color: white;
	border-top: 1px solid #888;
	border-bottom: 1px solid #888;
	border-radius: 3px;
}

.card img {
	margin-top: 5%;
}

.gray-strip {
	background-color: #888;
	height: 3px;
}

.card-title {
	font-size: 1.9em;
	color: var(--pri);
}

.card-text {
	font-size: 18px;
	margin-top: 13px;
}

.card-body .btn {
	float: right;
	margin-right: 15px;
}

footer {
	background-color: #CCC;
	min-height: 70px;
	padding-top: 25px;
	border-top: 3px solid var(--pri);
	padding-bottom: 25px;
	color: #353535;
}

footer * {
	display: inline;
}

.footer-text {
	margin-top: 12px;
}

@media (max-width: 1530px) {
	.card-title {font-size: 1.3em;}
}

@media (max-width: 1420px) {
	.center-name {font-size: 49px;}
	.intro-text h3 {font-size: 1.6rem;}
	.intro-text h5 {font-size: 1.1rem;}
	.intro-subtext {width: 100%;}
	.contact-button {font-size: 17px;  width: 127px;}
	.see-resume {font-size: 17px;}
}

@media (max-width: 1360px) {
	.intro-text {margin-top: 0px;}
	.card-title {font-size: 1.3em;}
	.card-body {font-size: 15px;}
}

@media (max-width: 1199px) {
	.intro-subtext {font-size: 18px;}
	.card-body .btn {margin-right: 5px;}
	.card-title {font-size: 1.7em;}
}

@media (max-width: 1179px) {
	.center-name {font-size: 60px;}
	.intro-subtext {position: relative;  top: -12px;}
	.buttons {position: relative;  top: -10px;}
}

@media (max-width: 1083px) {
	#main-nav {font-size: 0.9em;}
	.icon-name {font-size: 26px;}
	.card-body {font-size: 14.5px;}
	.card-title {font-size: 1.6em;}
}

@media (max-width: 1013px) {
	.card-title {font-size: 1.5em;}
}

@media (max-width: 991px) {
	/*Total shift and breakage*/
	/*Switch to Mobile style layout*/
	#main-nav {text-align: center;  font-size: 1.5em;}
	#main-nav .btn {font-size: 1em;}
	#main-nav button.dropdown-toggle {width: 100%;}
	#main-nav .dropdown-item {font-size: 2em;}
	#main-nav .dropdown-menu {text-align: center;  width: 70%;  margin-left: 15%;}
	.navbar-toggler {width: 80px; height: 80px;}
	.icon-name {font-size: 1.7em;}
	.intro {margin-top: 200px;}
	.intro-text {margin-top: -70px;}
	.intro-img {margin: auto;}
}

@media (max-width: 962px) {
	.card-title {font-size: 1.4em;}
	.card-body {font-size: 14px;}
}

@media (max-width: 822px) {
	.center-name {font-size: 3em;}
	.intro-text h3 {font-size: 1.4rem;}
	.intro-text h5 {font-size: 1rem;}
}

@media (max-width: 767px) {
	.card-title {font-size: 2.2em;}
	.card-body {font-size: 17.5px;}
	.card {width: 45vw;}
}

@media (max-width: 677px) {
	.card-title {font-size: 2em;}
}

@media (max-width: 669px) {
	.intro-text h3 {font-size: 1.3em;}
	.center-name {font-size: 2.5em;}
	.intro-subtext {font-size: 17px;}
	.navbar-toggler {width: 60px; height: 60px;}
}

@media (max-width: 622px) {
	.card-title {font-size: 1.8em;}
}

@media (max-width: 570px) {
	.icon-name {left: -50px; width: 176px;}
	.navbar-toggler {display: inline;}
	.intro {width: 95%;}
	.intro-text {width: 100%;}
	.icon-name {font-size: 1.5em;}
	.card-title {font-size: 1.6em;}
}

@media (max-width: 513px) {
	.card-title {font-size: 1.4em;}
}

@media (max-width: 481px) {
	.center-name {font-size: 2.1em;}
	.intro-text h3 {font-size: 1.1rem;}
	.intro-text h5 {font-size: 0.9rem;}
	.intro-subtext {font-size: 16px;}
	.navbar-toggler {width: 50px; height: 50px;}
	.icon-name {font-size: 1.35em;}
}

.hidden {
	display: none;
}
